<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easywork.proja.persistence.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.easywork.proja.persistence.Goods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="preiod" jdbcType="INTEGER" property="preiod" />
    <result column="createid" jdbcType="BIGINT" property="createid" />
    <result column="createname" jdbcType="VARCHAR" property="createname" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="buttomprice" jdbcType="INTEGER" property="buttomprice" />
    <result column="bookprice" jdbcType="INTEGER" property="bookprice" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="memo" jdbcType="LONGVARCHAR" property="memo" />
  </resultMap>

	<insert id="insertGoods" keyProperty="id" parameterType="com.easywork.proja.persistence.Goods" useGeneratedKeys="true">
		insert into
		Goods(name,preiod,createid,createname,price,discount,bottomprice,
		bookprice,statue,type,memo)
		values(#{name},#{preiod},#{createid},#{createname},#{price},
		#{discount},#{bottomprice},#{bookprice},#{statue},#{type},#{memo})
	</insert>

	<select id="queryByName" parameterType="java.lang.String" resultType="String">
		select name from goods where true
		<if test="name!=null"> AND name LIKE concat(concat('%',#{name}),'%')</if>
	</select>

</mapper>